logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

*.pdf
*.jpg
*.jpeg
CNAME
og-card.png
GIT_INSTRUCTIONS.md
.env
.env.*
!.env.example
src/assets/hero.png
src/assets/react.svg
src/assets/vite.svg

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
